*{
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    background: color #2162a1;
    width: 135px;
    padding:0.1px
}
.logo{
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1px solid white;
    border-radius: 2px;
}
.nav-address{
    font-size: 12px;
    padding: 5px 6px 9px 6px;
    margin-right: 10px;
    
}
.address-icon{
    display:flex;
}
#p1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
#p2{
    color: white;
    font-size: 1rem;
    align-items: center;
    margin-left: 3px;
}
.nav-search{
    display: flex;
    background-color: #febd6a;
    width:620px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid orange;
}
#search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 51.6px;
    text-align: center;
    background-color: #f3f3f3;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.556);
    border: none;
}
#search-bar{
    width: 516.4px;
    font-size: .85rem;
    border: none;
    width: 100%;
    padding: 7px 10px 10px 0px;
}
.search-icon{
    color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px; 
}
.language{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 0px 9px 0px;
    margin-left: 10px;
}
#lang{
    font-weight: 700;
    font-size: 12px;
    width: 20px;
    height:20%
}
.flag-icon{
    height:20px;
}
span{
    color: #ffffff;
    font-size: 12px;
    width: 113.53px;
    height: 50px;

}
.nav-para{
    background-color: #0f1111;
    color: #ffffff;
    font-size: 14px;
    border: none;
    font-weight: 700;
}
.nav-cart i{
    font-size: 25px;
}
.nav-cart{
    position: relative;
    display: inline-block;
    padding: 8px 9px 10px 9px;
}
#cart{
    font-size: 15px;
    margin-left: -5px;
}
#cart-count{
    position: absolute;
    top: -0.35px;
    left: 17px;
    width: 16px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f1111;
    border-radius: 99%;
    color: rgb(240, 136, 4);
    font-size: 18px;
    font-weight: 700;
    margin-top: 2px;
}

.nav-return{
    padding: 0px 6px 9px 6px;
}
.navsign-in{
    padding: 0px 6px 9px 6px;
}

.panel{
    height: 29px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.panel-options p{
    display: inline;
    margin-right: 5px;
    padding: 8px 5px 8px 5px;
    margin-bottom: 5px;
}
.panel-options p:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.panel-options{
    width: 922.59px;
    font-size: 12px;
    padding: 8px, 5px, 8px, 5px;
    display: flex;;
    align-items: center;
}
.panel-all{
    width: 45px;
    font-size: 12px;
    font-weight: 700;
    height: 12px;
    display: flex;
    align-items: center;
    padding: 8px 5px 8px 5px;
}
.panel-all i{
    height: 14px;;
}
.hero-section{
    background-image: url("images/img1.jpg");
    position: relative;
    height: 400px;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-section::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(to top, rgba(226,231,230,1), rgba(226,231,230,0));
}
.hero-msg{
    background-color: #f5f6f6;
    color: #0f1111;
    font-size: 12px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin-bottom: 150px;
}
.hero-msg a{
    text-decoration: none;
    color:#007185;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(226, 231, 230);
    
}
.box {
    position: relative;
    height: 330px;
    width: 25%; 
    background-color: white;
    padding: 20px 0px 30px;
    margin-bottom: 20px;
    margin-right: 8px;
    margin-left: 8px;
}
.box1{
    margin-top: -120px;
}
.box2{
    margin-top: -120px;
}
.box3{
    margin-top: -120px;
}
.box4{
    margin-top: -120px;
}
.h2-heading{
    color: #0f1111;
    font-size: 18px;
}
.box1-img{
    background-image: url("images/img2.jpg");
    width: 270px;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.anchor{
    color: #2162a1;
    font-size: 12px;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.box-row1-img{
    background-image: url("images/clean.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-row2-img{
    background-image: url("images/img3.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.box-a-img{
    display: flex;
}
.box-p{
    font-size: 11px;
    color: #0f1111;
}
.box-1row-img{
    background-image: url("images/decor.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.box-2row-img{
    background-image: url("images/bedding.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-bottom: 10px;  
}
.box-b-img{
    display: flex;
    margin-bottom: 20px;
}

.box-row3-img{
    background-image: url("images/img4.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-row4-img{
    background-image: url("images/tops.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.box-3row-img{
    background-image: url("images/dresse.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.box-4row-img{
    background-image: url("images/shoes.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.box-row3-img{
    background-image: url("images/img4.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-row4-img{
    background-image: url("images/tops.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.box-3row-img{
    background-image: url("images/dresse.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-4row-img{
    background-image: url("images/shoes.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.box-row5-img{
    background-image: url("images/kitchen.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-row6-img{
    background-image: url("images/img5.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.box-5row-img{
    background-image: url("images/d`ecor.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.box-6row-img{
    background-image: url("images/bath.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-bottom: 10px;
}
.box-row71-img{
    background-image: url("images/img6.jpg");
    height: 120px;
    width: 270px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
    
}
.box-row72-img{
    background-image: url("images/coffee.jpg");
    height: 80px;
    width: 90px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
    margin-top: 20px;
}
.box-row73-img{
    background-image: url("images/pots.jpg");
    height: 80px;
    width: 90px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
    margin-top: 20px;
}
.box-row74-img{
    background-image: url("images/kettels.jpg");
    height: 80px;
    width: 85px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.box-row7-img{
    background-image: url("images/img11.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 5px;
}
.box-row8-img{
    background-image: url("images/img12.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-bottom: 5px;
}
.box-7row-img{
    background-image: url("images/img13.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 15px;
}
.box-8row-img{
    background-image: url("images/img14.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-bottom: 15px;
}

.box-row9-img{
    background-image: url("images/img7.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-row10-img{
    background-image: url("images/img8.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.box-9row-img{
    background-image: url("images/img9.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-10row-img{
    background-image: url("images/img10.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.box-row11-img{
    background-image: url("images/img15.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-row12-img{
    background-image: url("images/img16.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.box-11row-img{
    background-image: url("images/img17.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
}
.box-12row-img{
    background-image: url("images/img18.jpg");
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.foot-panel{
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    height: 49px;
}
.foot-panel2{
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
.foot-panel2 p{
    font-weight: 700;
    font-size: 0.85rem;
    color: #ffffff;
    margin-top: 60px;
    padding: 10px 0px 10px;
}
.foot-panel2 ul a{
    display: block;
    color: #dddddd;
    font-size: 0.75rem;
    margin-top: 5px;
    
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.25px solid #ffffff;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-ama{
    background-image: url("images/amazon.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 10%;   
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{  
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}